body {
	font-family: "M PLUS Rounded 1c", "sans-serif";
}

.title {
	max-width: 1200px;
	height: 150px;
	background-color: #8e61aa;
	position: static;
	margin: 0 auto;
	font-size: 30px;
	overflow: hidden;
	border-radius: 10px;
	display: flex;
	justify-content: center;
}

.base {
	max-width: 1200px;
	height: 73vh;
	position: relative;
	margin: 10px auto;
}

.main {
	background-color: #ffe3b5;
	padding: 20px;
	position: absolute;
	left: 310px;
	right: 0px;
	height: calc(100% - 40px);
	overflow: auto;
	border-radius: 10px;
}

/* ========== mainTitle ========== */
.mainTitle {
	background-color: #ffb621;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 10px;
}

div.mainTitle  h2 {
	margin: 5px 0;
}

div.mainTitle  p {
	margin: 0px;
}

/* ========== mainBlock ========== */
.mainBlock {
	background-color: #ffc859;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 10px;
}

div.mainBlock h2 {
	margin: 0 0 10px 0;
}

div.mainBlock h3 {
	margin: 0 0 5px 0;
}

div.mainBlock p {
	margin: 0 0 20px 0;
}

.wrapper {
	display: grid;
	grid-template-columns: 300px auto;
	grid-gap: 20px;
}

.wrapper h3 {
	margin: 10px 0px;
}

.wrapper p {
	margin: 0px;
}
